html {
	font-family: Arial, sans-serif;
}
body {
	background: url(../imgs/bg.png);
}
.container{
}
h2 {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}
.box input {
	width: 250px;
	height: 30px;
	background: url(../imgs/bg.png);
	display: block;
	border: 0;
	padding-left: 10px;
}

.box {
	position: absolute;
	width: 320px;
	height: 370px;
	background-color: #fff;
	right: 50%;
	margin-right: -185px;
	top: 50%;
	margin-top: -160px;
}
.cre-acc {
	background-color: #00cccc;
	color: white;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 12px;
	padding: 10px;
	position: absolute;
	right: 50%;
	margin-right: -62px;
	top: 50%;
	margin-top: -170px;
}
.form {
	margin: 35px 30px 35px 30px;
}
#email {
	font-style:italic;
}
.star {
	color: #00cccc;
	margin-left: 3px;
}
.big-btn {
	background-color: #00cccc;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	height: 45px;
	width: 260px;
	text-align: center;
	margin-top: 35px;
	padding: 3px;
	border-radius: 5px;
}
