html {
	font-size: 10px;
}
.header {
	background-color: black;
	height: 7rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.menu {
	display: inline-block;
  left: 35%;
	margin-top: 1.5rem;
	position: absolute;

}
.menu a, a:active, a:visited, a:focus{
	color:white;
	font-size: 2rem;
	margin-right: 2rem;
	text-decoration: none;
}
a:hover {
	background-color: #fff;
	color:black;
	border-radius: 5px;
	border: 1px solid black;
	transition: 0.5s;
}
p {
	margin-top: 100px;
	font-size: 2rem;
}