body {
	background-color: #ccc;
	font-family: Roboto, sans-serif;
}
button.btn-delete {
	background-color: black;
	color: red;
	position: absolute;
	right: 50%;
	margin-right: -60px;
	bottom: 50%;
	margin-bottom: -17px;
	padding: 10px;
	border-radius: 15px;
	border: 1px solid red;
}
button.btn-delete:visited, button.btn-delete:focus, button.btn-delete:active,  button.btn-delete:hover{
	outline: none;
	text-decoration: none;
}
.modal-header {
	background-color: #333333;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
button.close {
	background-color: #330033;
	border-radius: 50px;
	opacity: 1;
}
button.close span{
	color: #ffffff;
	padding: 5px;
}
.modal-body {
	padding: 30px 20px;
	font-size: 15px;
}
.modal-footer {
	display: inline-block;
	left: 0;
}
.modal-footer button.btn-default {
	background-color: #669966;
}
.modal-footer button.btn-primary {
	background-color: #cc6666;
}
.modal-footer button.btn-default, .modal-footer button.btn-primary {
	border: 0;
	color: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.85);
}
.modal-footer button.btn-default:active, .modal-footer button.btn-default:focus,.modal-footer button.btn-default:visited, .modal-footer button.btn-default:hover{
	border: 0;
	color: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.85);
	outline: none;
	background-color: #669966;
}
.modal-footer button.btn-primary:active, .modal-footer button.btn-primary:focus, .modal-footer button.btn-primary:visited, .modal-footer button.btn-primary:hover{
	border: 0;
	color: #fff;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.85);
	outline: none;
	background-color: #cc6666;
}

