* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
}
.section {
  min-height: 100vh;
  width: 100%;
}
.wrap-block {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  bottom: 50%;
  margin-bottom: -25px;
  font-weight: bold;
  color: #fff;
  line-height: 50px;
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
}
.wrap-block h1 {
  text-transform: uppercase;
  transition: 4s;
}
.wrap-block h2 {
  text-align: center;
}
